.row {
	margin: 0;
}

.particle-row {
	padding: 0;
	margin-top: -58.4px;
}

#particles-js {
	background: #12142c;
	height: 100vh; /* calc(100vh - 58.4px); */
	min-height: 728px;
}

/* HERO SECTION 1 */
.container-fluid {
	padding-left: 0;
	padding-right: 0;
}

.hero-container {
	position: absolute;
	padding-top: 20px;
	background: none;
	width: 100%;
	display: flex;
	justify-content: center;
	top: 12%;
}

.logo-row {
	display: flex;
	justify-content: center;
	margin-right: 0;
	margin-left: -100px;
}

.logo-col {
	display: flex;
	justify-content: center;
	text-align: center;
}

.slogan-col,
.logo-col {
	padding-top: 8.5vw;
	color: #ffffff;
	width: 100%;
}

.logo {
	width: 85%;
	font-size: 18vw;
	align-items: center;
}

.slogan-row-bottom,
.slogan-row-top {
	margin-right: 0;
	margin-left: 0;
}

.slogan-col {
	width: 80%;
	padding-top: 12vw;
	padding-right: 0;
	padding-left: 0;
}

.slogan-row-col,
.slogan-bottom-col {
	width: 100%;
	margin-left: 0;
	margin-right: 0;
}

.slogan-col-top {
	display: flex;
	flex-wrap: wrap;
}

.slogan-top-text,
.slogan-bottom-text {
	width: 100%;
	font-family: montserrat;
	font-weight: 600;
	/* font-size: 4.5rem; */
	font-size: 4vw;
	display: inline;
	overflow: hidden;
	white-space: nowrap;
}

.slogan-row-bottom {
	margin-top: 28px;
}

/* @media (max-width: 1400px) {
	.slogan-col {
		padding-top: 9vw;
	}
} */

@media (max-width: 990px) {
	.logo-row {
		padding: 0;
		flex-direction: column;
		margin-left: 0;
	}
	.logo-pic {
		width: 45%;
		height: auto;
	}
	.logo-col {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.slogan-col {
		padding-left: 0;
		display: inline;
		align-items: center;
		text-align: center;
		width: 100%;
	}

	.slogan-top-text,
	.slogan-bottom-text {
		font-size: 5.5vw;
	}
}

@media (max-width: 576px) {
	.logo-pic {
		width: 65%;
		height: auto;
	}
	.slogan-top-text,
	.slogan-bottom-text {
		font-size: 7vw;
	}
}

@media (max-aspect-ratio: 2/3) {
	#particles-js {
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 30vh;
	}
	.hero-container {
		top: 10%;
	}
}

/* SECTION TWO */
.sec-2-container {
	height: 83vh;
	margin-top: 100px;
	min-height: 728px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.sec-2-row {
	margin-top: -100px;
}

.sec-2-header-block {
	color: #12142c;
	margin-bottom: 10vh;
}

.sec-2-header {
	font-family: montserrat;
	text-align: center;
	font-size: 3.4vw;
	margin-left: 1.5vw;
	font-weight: 500;
}

.sec-2-header-text {
	font-family: nunito;
	text-align: center;
	font-size: 1.2vw;
	margin-left: .5vw;
	font-weight: 500;
}

.info-block-all {
	display: flex;
	flex-direction: row;
}

.info-block {
	color: #12142c;
	margin-bottom: 50px;
	margin-left: 34px;
}

.info-block-header {
	font-family: montserrat;
	font-weight: 600;
	font-size: 1.28vw;
}

.info-block-text {
	font-family: nunito;
	font-size: .9vw;
}

.sec-2-col-right {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.sec-2-img {
	width: 100%;
	height: 100%;
	margin-left: -45px;
}

.info-icon {
	margin-left: calc(23px + 1vw);
	width: 3vw;
	height: 3vw;
}

@media (max-width: 1200px) {
	.sec-2-container {
		height: 83vh;
	}

	.sec-2-header {
		font-size: 55px;
		margin-left: 1.5vw;
		font-weight: 500;
	}

	.sec-2-header-text {
		font-size: 20px;
		margin-left: .5vw;
		font-weight: 500;
	}

	.info-block {
		margin-left: 80px;
	}

	.info-block-header {
		font-size: 22px;
	}

	.info-block-text {
		font-size: 16px;
	}
	.sec-2-img {
		width: 90%;
		height: 90%;
	}

	.info-icon {
		margin-left: calc(23px + 1vw);
		width: 5vw;
		height: 5vw;
	}
}

@media (max-width: 990px) {
	.sec-2-container {
		height: 100%;
		width: auto;
	}

	.sec-2-row {
		flex-direction: column-reverse;
	}

	.sec-2-col-right {
		display: flex;
		flex-direction: row;
		justify-content: center;
	}
}

@media (max-aspect-ratio: 2/3) {
	.sec-2-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 100%;
		top: 10px;
	}
	.sec-2-header-block {
		color: #12142c;
		margin-bottom: 4.5vh;
	}
}

/* SECTION 3 */
.sec-3-container {
	height: 90vh;
	margin-top: -200px;
	min-height: 728px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.sec-3-col-right {
	margin-top: 4vw;
	padding-left: 15vw;
}

.sec-3-header-block {
	color: #12142c;
	margin-bottom: 5vh;
}

.sec-3-header {
	font-family: montserrat;
	font-size: 3.4vw;
	margin-left: 0vw;
	font-weight: 500;
}

.sec-3-header-text {
	font-family: nunito;
	font-size: 1.2vw;
	font-weight: 500;
}

.step-block {
	display: flex;
	flex-direction: row;
	color: #12142c;
}

.step-block-text {
	font-family: nunito;
	font-size: 1.1vw;
	font-weight: 500;
}

.sec-3-img {
	width: 100%;
	height: auto;
	margin-left: 4.7vw;
}

@media (max-width: 1200px) {
	.sec-3-container {
		height: 83vh;
	}
	.sec-3-col-right {
		padding-left: 8vw;
	}

	.sec-3-header {
		font-size: 55px;
		font-weight: 500;
	}

	.sec-3-header-text {
		font-size: 20px;
		font-weight: 500;
	}

	.step-block {
	}

	.step-block-header {
		font-size: 22px;
	}

	.step-block-text {
		font-size: 18px;
	}

	.sec-3-img {
		width: 90%;
		height: 90%;
		margin-left: 5vw;

	}


}

@media (max-width: 990px) {
	.sec-3-container {
		margin-top: 0;
		height: 100%;
		width: auto;
	}

	.sec-3-col-right {
		padding-left: 0;
	}

	.sec-3-row {
		flex-direction: column-reverse;
	}

	.sec-3-col-right {
		width: 100%;
	}

	.sec-3-header {
		font-size: 55px;
		font-weight: 500;
		text-align: center;
	}

	.sec-3-header-text {
		font-size: 20px;
		font-weight: 500;
		text-align: center;
	}
	
	.step-block {
		margin-left: 20vw;
	}


	.sec-3-img {
		margin-top: 70px;
		width: 70%;
		height: auto;
		margin-left: 10vw;
	}
}

@media (max-aspect-ratio: 2/3) {
	.sec-3-container {
		flex-direction: column;
		justify-content: center;
		height: 100%;
		top: 10px;
	}

	.sec-3-header-block {
		color: #12142c;
		margin-bottom: 4.5vh;
	}
}
