.navbar { 
    font-family: montserrat;
    font-weight: 600;
    display: flex;
    background: none;
    /* background-color: #12142C; */
    z-index: 100;
    position: fixed;
    width: 100%;
}

.navbar-fixed-top {
    background: #12142C;
}

.navbar-og {
    background: #12142C !important;
    position: relative !important;

}

.navbar :hover {
    color: #F13031 !important;
    text-decoration: none;
}

.navbar-brand {
    font-size: 18px;
    color: #FFFFFF;
}

.navbar-toggler {
    color: #FFFFFF;
}

.navbar-nav {
    width: 33%;
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin-left: auto;
}


.nav-logo {
    font-size: 18px;
    color: #FFFFFF;
    width: 12%;
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin-left: auto;
}

.nav-item {
    font-size: 18px;
    color: #FFFFFF;
}


.navbar-collapse {
    margin: auto;
}



@media (max-width:1300px) {
.navbar-nav {
    width: 45%;
}
.nav-logo {
    width: 12%;
    margin: auto;
}
}
  
@media (max-width:768px) {
.navbar-nav {
    margin: auto;
    text-align: center;
}

}
  
