.saved-paths-row {
	margin-top: 2vw;
	/* height: 205px; */
	height: auto;
	width: 820px;
	border-radius: 17px;
	box-shadow: 0 2.5px 6px 0 rgba(0, 0, 0, .2);
}

.location-marker-col {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-right: 0;
	padding-left: 30px;
	align-items: center;

}

.location-marker-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.location-marker {
	font-size: 100px;
}

.view-path-btn {
	font-family: montserrat;
	font-size: 16px;
	font-weight: 600;
	background-color: transparent;
	color: #14142C;
	border: none;
	margin: 0px;
	margin-top: 7px;
	width: 30%;
	margin-left: -5px;
}


.saved-path-info-col {
	padding-right: 0;
}

.dist-time-row {
	margin-top: 20px;
}

.dist-time-label {
	font-family: montserrat;
	font-size: 25px;
	display: inline;
	font-weight: 600;
}

.dist-time-txt {
	font-family: montserrat;
	font-size: 24px;
}

.org-row,
.dest-row {
	margin-top: 5px;
}

.org-label,
.dest-label {
	font-family: montserrat;
	font-size: 24px;
	display: inline;
	font-weight: 600;
}

.org-txt,
.dest-txt {
	font-family: montserrat;
	font-size: 23px;
}

.delete-btn-col {
	padding-left: 0;
}

.delete-btn {
	float: none;
	margin-left: 0.3em;
	margin-top: 0.2em;
	padding: 0;
	background-color: transparent;
  border: 0;
	font-size: 25px;
	z-index: 1000;
}

.delete-btn:focus {
	outline: none !important;
}


@media only screen and (max-width: 1100px) {
	.saved-paths-row {
		/* height: 205px; */
		height: auto;
		width: 700px;
	}

}
@media only screen and (max-width: 900px) {
	.saved-paths-row {
		/* height: 205px; */
		height: auto;
		width: 500px;
	}

	.dist-time-label {
		font-size: 19px;
	}

	.dist-time-txt {
		font-size: 18px;
	}

	.org-label,
	.dest-label {
		font-size: 18px;
	}

	.org-txt,
	.dest-txt {
		font-size: 17px;
	}

	.view-path-btn {
		margin-left: -15px;
	}
}

@media only screen and (max-width: 670px) {
	.saved-paths-row {
		/* height: 205px; */
		height: auto;
		width: 350px;
	}

	.location-marker {
		font-size: 80px;
	}

	.org-row,
	.dest-row {
		margin-top: 2px;
	}

	
	.dist-time-label {
		font-size: 17px;
	}

	.dist-time-txt {
		font-size: 16px;
	}

	.org-label,
	.dest-label {
		font-size: 14px;
	}

	.org-txt,
	.dest-txt {
		font-size: 13px;
	}

	.view-path-btn {
		margin-left: -25px;
	}
}





