/* GENERAL */
.seperator-rnd {
    border-top: 2px solid #bbb;
    border-radius: 30px;
}

.sidebar {
    max-height: calc(100vh - 58.4px);
    overflow-y: scroll;
    overflow-x: hidden;
    padding-left: 6px;
    padding-right: 17px;
}

.map-container {
    margin: 0;
    padding: 0;
}

.find_path-container {
    padding-right: 0;
}

.bottom-spacer {
    margin: 15px;
}

@media (max-width: 990px){
    .sidebar {
        max-width: 100%;
    }
    .narrow-btn, .calc-btn {
        max-width: 300px;
    }
    .new-dist-inp {
        max-width: 200px;
    }
    .find_path-container{
        padding-left: 0 !important;
    }
}

/* NARROW BTN */
.narrow-btn-col, .calc-btn-col {
    display: flex;
    justify-content: center;
    padding: 5%;
    margin-top: 10px;
    min-height: 80px;
}

.narrow-btn-col {
    margin-bottom: -8px;
}

.narrow-btn {
    font-family: montserrat;
    font-size: 18px;
    font-weight: 600;
    background-color: #2FC6B7;
    color: white;
    border-radius:30px;
    width: 70%;
    height: 100%;
    transition: .2s;
    margin: auto;
    min-height: 47px;
}

.narrow-btn:hover{
    font-family: montserrat;
    font-weight: 600;
    transform: scale(1.06);
    transition: 0.33s; 
    color: white;
}

.narrow-btn:focus, .narrow-btn:active {
    outline: none;
    box-shadow: none;
}

/* NEW DIST FORM */
.inp-row {
    margin-top: 7px;
}

.new-dist-form {
    display: flex;
    justify-content: center;
    width: 100%;
    align-content: center;
}

.new-dist-inp-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.new-dist-inp-label, .new-address-inp-label{
    font-family: montserrat;
    font-weight: 600;
    font-size: 1rem;
    text-align: center;
    margin-bottom: -.5px;

}


.new-dist-inp, .new-address-inp {
    width: 100%;
    overflow: hidden;
    margin: auto;
    border-width: 1.5px;
    border-radius: 25px;
    height: 30%;
    min-height: 47px;
    text-align: center;
    font-family: nunito;
    padding: 4px;

}

.new-dist-inp:focus, .new-dist-inp:active {
    outline: none;
    box-shadow: none;
}


.new-address-inp-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.new-address-inp:focus, .new-address-inp:active {
    outline: none;
    box-shadow: none;
}


.calc-btn-col {
    display: flex;
    justify-content: center;
    padding: 5%;
    margin-top: 2px;
    min-height: 80px;
    margin-bottom: -10px;
}

.calc-btn {
    font-family: montserrat;
    font-size: 18px;
    font-weight: 600;
    background-color: #F13031;
    color: white;
    border-radius:30px;
    width: 70%;
    height: 100%;
    transition: .2s;
    margin: auto;
    min-height: 47px;
}

.calc-btn:hover{
    font-family: montserrat;
    font-weight: 600;
    transform: scale(1.06);
    transition: 0.33s; 
    color: white;
}

.calc-btn:focus, .calc-btn:active {
    outline: none;
    box-shadow: none;
}


/* TIME / DIST / STEPS */

.info-dist-time-col {
    display: flex;
    justify-content: center;

}

.info-dist-time {
    font-family: montserrat;
    text-align: center;
    margin-bottom: -3px;
}

.steps-title {
    font-family: montserrat;
    font-weight: 600;
    font-size: 25px;
    text-align: center;
    margin-top: -4px;
    margin-bottom: 8px;
}

/* Map Container */
